*.agdai
*.aux
*.log
*.out
*~

# Only Guard/ directory is tracked
/*
!/Guard/
!/.gitignore

# Hide tex/pdf in Guard, except guard-godelII and nelson-boundary
Guard/*.tex
Guard/*.pdf
!Guard/guard-godelII.tex
!Guard/guard-godelII.pdf
!Guard/guard-godelII-v3.tex
!Guard/guard-godelII-v3.pdf
!Guard/nelson-boundary.tex
!Guard/nelson-boundary.pdf
